/* Header */
body {
    box-sizing: border-box;
    background-color: #F5F5F5;
    cursor: pointer;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100vw;
}
ol,
ul,
li {
    list-style: none;
}
.todo {
    margin: 0 16px 0 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* Banner*/
.Banner{
    display: flex;
    background-image: url(Assets/banner-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height:360px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    padding: 32px;
    gap: 16px;



}
.Banner__Tittle1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #F5F5F5;
    padding: 0px;
    margin-bottom: 0px;
}
.Banner__Tittle{
    display: flex;
    color: #F5F5F5;
    font-family: Montserrat;
    padding: 0px;
    margin-top: 0px;
}
/* Videojuegos*/
.Videojuegos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap:24px;

    width: 100%;
    height: 400px;
    

}
.Videojuegos-list{
    display: flex;
    flex-direction: row;
   
}
.Videojuegos-listt{
    display: flex;
    flex-direction: row;
    
   
}
.Videojuegos-item{
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 16px;
    
   
    
}

/* Consolas*/
.consolas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1136px;
    height: 306px;

    flex: none;
    order: 1;
    flex-grow: 0;
    
    
   
}
.Consolas-list{
    display: flex;
    flex-direction: row;
   
}
.Consolas-listt{
    display: flex;
    flex-direction: row;
    
   
}
.Consolas-item{
    width: 174px;
    height: 174px;

    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 16px;
    
   
    
}



/*Variedad*/
.Variedad__Geek{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1136px;
    height: 306px;

    
}
.Variedad__Geek-list{
    display: flex;
    flex-direction: row;
   
}
.Variedad__Geek-listt{
    display: flex;
    flex-direction: row;
    
   
}
.Variedad__Geek-item{
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 16px;
        
}

/* Contacto*/
section.formcontato {
    background-color: #EAF2FD;
    padding: 16px;
}

section.formcontato div.esquerda img.contact-img {
    display: none;
}

section.formcontato div.contact div.contact-text h3.contact-subtext {
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    margin: 0;
}

section.formcontato div.contact div.contact-text h2.contact-title {
    font-weight: 700;
    font-size: 22px;
    padding: 10px;

}

section.formcontato form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 0;
}

section.formcontato form input {
    border: transparent;
    flex-grow: 1;
    margin: 10px 0px;
    height: 56px;
    width: 80vw;
}

form input::placeholder {
    color: #464646;
    font-family: 'Raleway';
}

section.formcontato form input:focus {
    border-bottom: solid 2px #2A7AE4;
}

section.formcontato form textarea {
    border: transparent;
    flex-grow: 1;
    margin: 10px 0px;
    height: 96px;
    width: 80vw;
}

section.formcontato form textarea:focus {
    border-bottom: solid 2px #2A7AE4;
}

textarea::placeholder {
    color: #464646;
    font-family: 'Raleway'
}


form.form button {
    border: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: #2A7AE4;
    color: white;
    margin: 32px 0;
}

/* footer*/
.footer{
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}